<div class="form-wrapper form-wrapper__ind">
  <div class="form-wrapper__title">Вход в учетную запись</div>
  <form autocomplete="off" id="aut-form" class="form">
    <div class="inline-inputs">
      <input class="TextInput" name="user" placeholder="Пользователь" type="text">
      <input class="TextInput" name="pass" placeholder="Пароль" type="password">
    </div>
    <div class="inline-inputs inline-inputs_verticaldesc">
      <div class="custom-checbox-wrapper">
      <label class="custom-checbox">
        <input name="agreement" type="checkbox">
        <span class="checkbox__title">Запомнить меня</span>
      </label>
      </div>
      <button class="btn btn_orange" type="submit">Войти</button>
    </div>
  </form>
  <a href="#" class="">Забыли пароль?</a>
</div>
